/tdfa-regex.fls
.DS_Store
.settings/
bin/
*~
\#*#
*.patch

*.acn
*.acr
*.alg
*.aux
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*-eps-converted-to.pdf
untitled folder/scg.bib
_gitPull.command
_gitPullPush.command
bib/scg.bib
tdfa-regex.loa
